.projectsContainer {
  height: 100vh;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projectName {
  width: 50%;
  margin-top: 20px;
}

.projectImg {
  width: 50%;
}

.projectImg img {
  width: 50%;
  margin: auto;
  margin-left: 20px;
  margin-top: 20px;
  border: 5px solid rgb(77, 77, 77);
  border-radius: 20px;
}

.projectName a {
  text-decoration: none;
}

.M-top {
  margin-top: 50px;
}
