@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:wght@500&family=Roboto&family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  height: 100vh;
}

.header {
  display: flex;
  height: 8vh;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.header nav ul {
  list-style: none;
  display: flex;
}
.header nav ul li {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: red;
  float: left;
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
}

.header nav ul li::after {
  background-color: #3068ff;
  content: '';
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

.header nav ul li:hover::after {
  width: 100%;
}

.header nav ul li a {
  text-decoration: none;
  padding: 0 10px;
  color: #0d1730;
  font-weight: bold;
}

.navbar {
  margin-left: 50px;
}

.homeContainer {
  height: 85vh;
  display: flex;
  align-items: center;
}

.devPic {
  width: 40vw;
}
.devPic img {
  width: 90%;
}

.devInfo {
  flex-direction: column;
  width: 50%;
  margin: 0 100px;
  margin-top: 100px;
}

.hPrimary {
  color: #0d1730;
  font-size: 38px;
  font-family: 'Poppins', sans-serif;
  padding: 2px 0;
}

.cvButton {
  margin-top: 12px;
}

/* UTILITY CLASSES */

.blue {
  color: #3e6ff4;
}
.center {
  text-align: center;
}

.btn {
  background-color: #3e6ff4;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px;
}

.btn:hover {
  background-color: #fff;
  color: #3e6ff4;
}

.btnSmall {
  background-color: #3e6ff4;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 15px;
  margin: 10px 0 0 5px;
}
.btnSmall:hover {
  background-color: #fff;
  color: #3e6ff4;
}

.big {
  width: 50px;
}

.icons {
  margin-top: 20px;
  cursor: pointer;
  padding: 0 12px;
}
.icons:hover {
  color: #3068ff;
}

.M-left {
  margin-left: 50px;
}

.underline {
  text-decoration: underline;
}

.alert {
  background-color: rgb(25, 255, 25);
  border-radius: 10px;
  display: none;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  text-align: center;
}

.errorAlert {
  background-color: rgb(255, 16, 20);
  border-radius: 10px;
  display: none;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  text-align: center;
}
